.input {
  margin-top: 3rem;
  
  &__usuario {
    margin-top: .5rem;

    &-label {
      font-size: 1rem;
      padding-bottom: 1rem;
    }

    &-warning {
      font-size: .8rem;
      margin-top: .5rem;
      color: red;
      display: none;
    }
  }

  &__calendario {
    margin-top: 3rem;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}